/*font-family: 'Nunito Sans', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ededed;
}
/*header*/
header{
    width: 100%;
    min-height: 75px ;
    background-color:#41e0bb;
    top:0;
    position: fixed;
    z-index: 100;
    -webkit-box-shadow: 1px 17px 28px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 17px 28px -3px rgba(0,0,0,0.2);
    box-shadow: 1px 17px 28px -3px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
}

/* @media (max-width: 600px) {
    header {
      flex-wrap: wrap;
      margin-bottom:300px ;
    }
  } */
.logo{
    width:60vw;
    text-align: left;
}
/* @media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
  } */
.logo img{
    width: 100%;
    height: 100%;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 15px;
}

/* @media (max-width: 650px) {
    .logo > img {
      margin: 0 auto;
    }
  } */

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
}
/* @media (max-width: 650px) {
    nav  ul {
      flex-direction: column;
    }
  } */
a{
    text-decoration: none;
    color:white;
    text-shadow:-1px 1px 3px #0a0e27;
}
nav li{
    font-size:1.2rem;
    margin-left: 20px;
}
nav li:hover{
    font-weight: 700;
}
/* @media (max-width: 650px) {
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    nav li {
      padding-bottom: 10px;
      font-size: 1em;
    }
  } */
  
footer{
    width: 100%;
    max-height:200px ;
    background-color:gray;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top:20px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.home{
    background-image: url(./image/group-portrait-of-adorable-puppies.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
/* @media (max-width:600px) {
    .home{
        background-image: url(image/beautiful-shot-of-different-dog-breeds-resting.jpg);
        background-size:cover;
        height:800px;
     }
} */
h1.texth1{
    text-align: center;
    padding-top: 150px;
    margin:0 auto;
    font-size: 6rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1;
    color:white;
    text-shadow:-8px 2px 0 rgba(65,224,187),-20px 10px 10px rgba(0,0,0,0.3);
    box-sizing: border-box;
}
@media (max-width:650px) {
    h1.texth1{
        font-size:3rem;
        text-shadow:-8px 2px 0 rgba(65,224,187),-20px 10px 10px rgba(0,0,0,0.3);
        padding-top:200px;
     }
}

.choose{
    text-align: center; 
}
.texth2{
    font-size:3rem;
    font-weight:700;
    color:#41e0bb;
    margin-bottom: 50px;
    margin-top:50px;
    text-align: center;
 }
.products{
     display:flex;
     flex-direction: row;
     justify-content: space-around;
 }
.product{
     display:flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     margin: 0 5px;
     border:0.5px solid #41e0bb;
     width: calc(100%/3);
     background-color:white;
     border-radius:15px;
     overflow: hidden;
 }
.product .img-product{
    width: 100%;
    height: 250px;
    text-align: center;
 }
 .imgProduct{
     width:100%;
     height: 100%;

 }
 .infoProduct{
     margin: 10px;
     text-align:left ;
 }
 .infoProduct h3{
     color:#41e0bb;
     font-size: 1.5rem;
     font-weight: 700;
 }
.btn{
     text-align: center;
     background-color:#41e0bb;
     width: 100px;
     height: 35px;
     border:none;
     color:white;
     font-size:1rem;
     font-weight: 700;
     margin:10px auto;
     margin-top:0;
     border-radius: 20px;
     outline: none;
 }
 .btn:hover{
     background-color: #35bb9c ;
     cursor: pointer;
 }

 .form-group{
     text-align: center;
     display:block;
     margin-top:50px;
     box-sizing: border-box;
     margin-bottom: 50px;
 }
 .inputemail{
        height: 30px;
        width: 300px;
        border:1px solid #41e0bb;
        border-radius:20px;
        font-size: 1.2rem;  
 }
 .inputemail:focus{
        outline: none;
        color:#41e0bb;
 }
 input[placeholder]{
     padding-left:10px ;
 }

 @media (max-width:768px){
    header{
        flex-wrap: wrap;
    }
    .logo{
        width:30vw;
    }
    .logo img{
        max-width: 100px;
        margin:0 auto;
    }
    
    nav{
        width:70vw;
    }
    ul{
        padding: 15px 0;
    }

    nav li{
        font-size:1rem;
    }
    .container{
        max-width: 720px;
        margin:0 auto;
    }
    .home{
        background-image: url(image/beautiful-shot-of-different-dog-breeds-resting.jpg);
    }
    h1.texth1{
        text-align: center;
        padding:250px 0 0 0;
        font-size: 4rem;
        text-shadow:-5px 1px 0 rgba(65,224,187),-15px 8px 8px rgba(0,0,0,0.3)  ;
    }
    .texth2{
        font-size:2rem;
        margin-bottom: 40px;
        margin-top:40px;
        
     }
     .products{

     flex-direction: row;
     justify-content: space-around;
 }
    .product{
        justify-content: space-between;
    }
    .product .img-product{
        height: 190px;
    }
    .infoProduct{
        margin:0 10px;
    }
    .infoProduct h3 ,p{
        margin:5px 0;
    }
} 
@media (max-width:576px){
    
    header{
        flex-direction: column;
        justify-content:center;
        align-items: center;
        max-width: 540px;
    }
    .logo{
        margin-top:20px;
    }
    .logo img{
        width: 100%;
        height: 100%;
        max-width: 150px;
    }
    nav{
        width:100%;
        margin:10px auto;
    }
    ul{
        display: flex;
        justify-content: space-around;
        justify-self:left;
        padding: 0;
    }
    nav li{
        font-size:0.9rem;
        margin-left: 7px;
        margin-right: 7px;
    }
    .containerx{
        max-width: 540px;
        margin:0 auto;
    }
    .home{
        background-image: url(image/beautiful-shot-of-different-dog-breeds-resting.jpg);
        margin-top:100px;
    }
    h1.texth1{
        text-align: center;
        padding:180px 0 0 0;
        font-size: 3rem;
        text-shadow:-5px 1px 0 rgba(65,224,187),-15px 8px 5px rgba(0,0,0,0.5)  ;
    }
    .choose{
        overflow: hidden;
        box-sizing: border-box;
        width:100%;
    }
    #video{
        width:100%;
        margin:0;
    }
    .texth2{
        font-size:2rem;
        margin-bottom: 40px;
        margin-top:40px;
     }
     .products{
     display:flex;
     flex-direction: column;
     justify-content: center;
     margin:0 auto;
     box-sizing: border-box;
 }
 .product{
    justify-content: center;
    margin-bottom:20px;
    border:0.5px solid #41e0bb;
    width:100%;
    border-radius:15px;
    box-sizing: border-box;
}
.product .img-product{
   width: 100%;
   height: 350px;
   text-align: center;
}
.imgProduct{
    width:100%;
    height: 100%;

}
.infoProduct{
    margin: 10px;
    text-align:left ;
}
.infoProduct h3{
    color:#41e0bb;
    font-size: 1.5rem;
    font-weight: 700;
}
 } 
@media (max-width:480px){
    .logo img{
        margin:0;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content:center;
        justify-self:center;
        padding: 0;
    }
    nav li{
        text-align: center;
    }
}